@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@400;700&display=swap');

* {box-sizing: border-box;}

body {
  font-family: 'Itim', cursive;
}

nav {
  background-color: rgb(112, 24, 137);
  color:rgb(0, 0, 0)
}

nav div {
  max-width: 1000px;
  margin: auto;
}

nav li {
  display: inline-block;
  font-size: 20px;
}

nav li a {
  color: white;
  text-decoration: none;
  padding-right: 12px;
}

.nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
} 

.paw {
    font-size: 50px;
    left:20px;
    position: absolute;
    animation: blink 5s;
    animation: rotate-left 7s;
    animation: rotate-right 7s;
}



@keyframes blink {
  0% { background-color: purple; }
  50% { background-color: black; }
  100% { background-color: purple; }
}

@keyframes rotate-left {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-20deg); }
  100% { transform: rotate(0deg); }
}

@keyframes rotate-right {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

.tlapka {
  animation: blink 3s linear infinite, rotate-left 3s linear infinite;
}

.tlapka:nth-child(2) {
  animation-delay: 1.5s;
}

.tlapka:nth-child(3) {
  animation: blink 3s linear infinite, rotate-right 3s linear infinite;
}

.tlapka:nth-child(4) {
  animation-delay: 1.5s;
}





header {
  position: relative;
  height: 300px;
  background-color: rgb(40, 21, 92);
}

header > h1 {
  font-family: 'Itim', cursive;
  font-size: 120px;
  position: absolute;
  color: rgb(0, 0, 0);
  left: 220px;
  top: 30px;
}

#cloud {
  font-size: 180px;
  position: absolute;
  left: 40px;
  top: 20px;  
  color: white;
}

#moon {
  font-size: 60px;
  position: absolute;
  color: rgb(255, 255, 255);
  left: 10px;
  top: 20px;   
}

#star1 {
  font-size: 5px;
  position: absolute;
  color: yellow;
  right: 30px;
  top: 20px; 
}

#star2 {
    font-size: 10px;
    position: absolute;
    color: yellow;
    right: 20px;
    top: 30px; 
  }

  #star3 {
    font-size: 15px;
    position: absolute;
    color: yellow;
    right: 10px;
    top: 40px; 
  }



main {
  max-width: 1000px;
  margin: auto;
}

section {
  display: flex;
}

img {
  width: 100%;
}

.text {
  padding: 30px;
}

.obrazky {
  display: flex;
  padding: 6px;
}

.obrazek {
  display: flex;
  flex: 1 0 200px; 
  align-self: auto;
  height: 200px;
  width: 180px;
  background-size: cover;
  background-position: center;
}

.galerie{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 250px);
  gap: 6px;
}

.obraz{
  width: 200px;
  background-size: cover;
  background-position: center;
  margin: 40px;
}

#l1 {
  background-image: url(/02/chloupek.jpg);
}

#l2 {
  background-image: url(/02/chloupek2.jpg) ;
}

#l3 {
  background-image: url(/02/chloupek3.jpg);
}

#l5{
  background-image: url(/02/chloupek4.jpg);
  grid-row: 1/3;
}

#l6{
  background-image: url(/02/chloupek5.jpeg);
  background-position-y: 80%;
}

#l7{
  background-image: url(./02/chloupek\ 6.jpg);

}


#Hafík {
  align-items: center;
}

#haf {
  align-items: center;
}


footer {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

form {
  max-width: 1000px;
  margin: auto;
  display: flex;
}

form > input, form > button {
  padding: 6px;
  border: 4px solid rgb(0, 0, 0);
  font-size: 20px;
}

form > input[type=text] {
  flex: 0 1 100%;
  color: rgb(0, 0, 0);
  border-radius: 12px 0 0 12px;
}

form > input[type=text]:focus {
  background-color: rgb(255, 255, 255);
  outline: none;
}

form > button {
  flex: 0 0 80px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}




@media only screen and (max-width: 600px) {

  nav {
      flex-direction: column;
      align-items: center;
  }

  ul {
      display: flex;
      flex-direction: column;
  }

  li {
      margin: 10px 0;
      text-align: center;
      display: block;
  }

  table {
      border-collapse: collapse;
      width: 100%;
  }

  th, td {
      padding: 10px;
      text-align: center;
  }

  header {
      background-color: rgb(128,128,128);
      color: #000000;
      height: 0px;
      width: 0px;
  }

  tr:nth-child(even) {
      background-color: #f2f2f2;
  }

  li > a {
  font-size: 25px;
  color: rgb(241, 241, 241);
  }

  .titul {
    display: none;
  }

  #cloud {
    display: none;
  }


  #moon {
    display: none;
  }


  #star1 {
    display: none;
  }

  #star2 {
    flex-direction: column;
  }

  #star3 {
    flex-direction: column;
  }
  


}

.Check {
left: 37%

}
  
form>button {
flex: 0 0 250px;
background-color: rgb(0, 0, 0);
color: rgb(118, 25, 113);
border-radius: 0 12px 12px 0;
cursor: pointer;
} 

.galerie{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(4, 250px);
}

section{
display: block;
}

.obrazekk {
width: 100px;
background-size: cover;
background-position: center;
}



.popup-overlay {
  background-color: rgba(132, 41, 155, 0.107);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popup-window {
  width: 600px;
  height: 150px;
  padding: 1rem;
  position: absolute;
  left: calc((100vw - 600px)/2);
  top: calc((100vh - 600px)/2);
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(219, 18, 255) 0%, rgb(0, 2, 2) 100%); 
  border-radius: 12px;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.72);
}
.Check {
  left: 37%;
  position: absolute;
}